/* @Author : Geektech Engineer
  Second Page Aplikasi Bandek
  img : GEEKTECH
  https://geektech.co.id/
  https://geektech.id/ */
  
  .no-gutters.menu-icon
	{
		margin-left: -5px;
		margin-right: -5px
	}
	.no-gutters.menu-icon > .col,
	.no-gutters.menu-icon > [class*=col-]
	{
		padding-left: 5px;
		padding-right: 5px
	}
	.no-gutters.menu-icon .btn
	{
		padding-left: 0;
		padding-right: 0
	}
	.no-gutters.menu-icon .card
	{
		border-radius: 20%
	}
	@media(min-width:991px)
	{
		.no-gutters.menu-icon .card h6
		{
			font-size: 22px
		}
		.no-gutters.menu-icon .card .mdi
		{
			font-size: 5rem
		}
	}
	#fullscreen-video
	{
		position: absolute;
		right: 0;
		bottom: 0;
		min-width: 100%; 
		min-height: 100%
	}

	.banner-bottom
	{
		position: absolute;
		right: 0;
		bottom: -2px;
		left: 0;
		height: 216px;
		background: url("<?php echo get_image('home', 'banner-bottom.png'); ?>") center center no-repeat;
		background-size: cover
	}